@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-overlay {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(134, 129, 129, 0.42) 69.27%, rgba(50, 50, 50, 0.56) 100%);
    background-blend-mode: overlay;
    mix-blend-mode: darken;
}